@model IEnumerable<StoreFront.DATA.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ABVID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectReportID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeerStyle.BeerStyle1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EEFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.PkgID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.ProductStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ABVID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectReportID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeerStyle.BeerStyle1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EEFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package.PkgID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.ProductStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BeerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BeerID })
        </td>
    </tr>
}

</table>
